CMakeCache.txt
**/build
build/
CMakeFiles
CPM_modules
_deps
build.ninja
cmake_install.cmake
compile_commands.json
cpm-package-lock.cmake
.vscode
.vscode/*.json
.venv
.py-build-cmake*
*.pyc
*.pytest_cache
*.so
*.dot
*.sdf
.rendered.*
docs/_build
ICSA/si/*
!ICSA/si/get_si.sh
ICSA/publication/*
!ICSA/publication/main.tex
!ICSA/publication/bibliography.bib
!ICSA/publication/IEEEtran.cls
!ICSA/publication/listing*
!ICSA/publication/figs/